*{
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width:100%;
  height:100%;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  color : white;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #F55A5A;
  gap:1.5rem;
}

.nav_logo{
  width:3rem;
  height:3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-containers{
  margin:3rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  width: 70%;
  height: 100%;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.card-description{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 100%;
  width:100%;
  gap:1.5rem;
}

.bold{
  font-weight: bold;
}

.card-image{
  width:200px;
  height:268px;
  border-radius:5px;
}

.location-icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.country-container{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}

.country-container > a{
  color: gray;
}

.country-container > h3{
  margin:0px 10px 0 0;

}